@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:ital,wght@0,300;0,400;1,300;1,400&family=Plus+Jakarta+Sans:wght@400;600&family=Poppins:wght@200;300;400;500&family=Ubuntu:wght@300&display=swap');


*{
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
    font-family:lato;
    
}
#till{
    font-size:10px;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
}
.contact-box{
    width: 40%;
    overflow: scroll;
    background-color: #d1d7db;
}
.chat-box{
    overflow: scroll;
    width: 60%;
    /* background-color: green; */
}


/* -----------------------------------------------contact box zone ------------------------------------------------------- */




.contact-box-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    background-color:#d1d7db;
    width: 100%;
}
.contact-box-nav img{
    width: 50px;
    height: 50px;
}
.contact-box-icon i{
    margin: 0px 10px;
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
}
.contact-box-icon i:hover{
  color: white;
}

.search-area{
    background-color: #d1d7db;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
    margin: 2px  0px;

}
.search-icon{
    background-color: rgba(255, 255, 255, 0.344);
    padding: 5px 40px 10px 5px;
    border-radius: 15px;
    width: 80%;
}
.search-icon i{
    margin-left: 10px;
    color: black;
}
.search-area input{
    border: none;
    outline: none;
    line-height: 25px;
    margin-left: 20px;
    background-color:transparent;
    color: black;
    font-weight: bold;

}

.search-box-hidden{
    display: none;
}

.search-icon2{
    background-color: rgba(255, 255, 255, 0.344);
    padding: 5px 40px 10px 5px;
    border-radius: 15px;
    width: 15%;
    position: absolute;
    top: 2%;
    left: 70%;
}

.search-icon2 i{
    margin-left: 10px;
    color: black;
}

.search-icon2 input{
    border: none;
    outline: none;
    line-height: 25px;
    margin-left: 20px;
    background-color:transparent;
    color: black;
    font-weight: bold;

}




.contact-box-fixed{
    position: fixed;
    width: 39%;
}

.contacts{
    margin-top: 125px;
}

.contact-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.344);
    margin-bottom: 1.5px;
    padding: 7px 0px;
    transition: .7s;
    cursor: pointer;

}

.contact-list:hover{
    background-color: #d1d7db;
}
.contact-list img{
    width: 70px;
    height:70px;
}
.title{
    color: rgb(48, 43, 43);
    width: 200px;
    transition: .3s;
}
.title>h3{
    transition: .3s;
}
.title >h3:hover{
    padding-left: 10px;
}


/* -------------------------------------------------chat area zone ------------------------------------------------------------------ */




.chat-box-fixed{
    position: fixed;
    width: 59%;
}
.chat-box-nav{
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    background-color: #d1d7db;
    justify-content: space-between;
}
.chat-box-nav-info{
    display: flex;
}
.chat-box-nav-info #name{
    margin-top: 5px;

}

.chat-box-nav img{
    width: 50px;
    height: 50px;
    margin: 0px 20px;
}

.chat-box-nav-icons i{
    margin: 0px 20px;
    font-size: 25px;
    cursor: pointer;
}

footer{
    background-color: #d1d7db;
    position: fixed;
    width: 59%;
    top: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer-icons input{
    border: none;
    outline: none;
    background-color:gba(255, 255, 255, 0.344);
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 20px;
    width: 65%;
}

.footer-icons i{
    font-size: 40px;
    cursor: pointer;
}
#imog{
  color: yellow;
}
#mic{
    color: blue;
}
#folders{
    color: blue;
}

.footer-icons #send{
    color: green;
}
a{
    text-decoration: none;
}
.chat-area{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    margin-top: 65px;
    background-image: url("wpbg2.jpg");
}
.chat-area table{
    /* background-color: aqua; */
    width: 100%;
}
.chat-area table tr th{
    background-color: green;
    line-height: 40px;
}
.chat-area table tr  td{
    background-color: rgba(0, 128, 0, 0.497);
    margin:4px 0px;
    padding: 5px 20px;
    border-radius: 15px;
}
.chat-area table tr{
    text-align: right;
    line-height: auto;
    font-weight: bold;
    font-size: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: right;

}

#guest{
    text-align: left;
    padding-left: 20px;
    background-color: #fff;
    border-radius: 10px;
    
}


/* ---------------------------------------------------menu click on---------------------- */
.one{
display: none;
}
.pop_for_threedot{
    background-color: white;
    width: fit-content;
    position: absolute;
    top: 7%;
    left: 23%;
    padding: 10px;
    border-radius: 5px;
}
.pop_for_threedot li{
    list-style: none;
    margin: 10px 0px;
    transition: .3s;
    padding: 5px 10px;
    border-radius: 5px;
}
.pop_for_threedot li a{
    text-decoration: none;
    color: gray;
    letter-spacing: 1px;
    font-weight: bold;
    transition: .3s;
}

.pop_for_threedot li a:hover{
    margin-left: 5px;
}
.pop_for_threedot li:hover{
    background-color:#d1d7dba0;
}

/* ---------------------------------menu click 2------------------------------ */

.two{
    display: none;
}
#menu2:hover{
    color: white;
}

.chat-menu2{
    background-color: white;
    width: fit-content;
    position: absolute;
    top: 7%;
    right: 2%;
    padding: 10px;
    border-radius: 5px;
}
.chat-menu2 li{
    list-style: none;
    margin: 10px 0px;
    transition: .3s;
    padding: 5px 10px;
    border-radius: 5px;
}
.chat-menu2 li a{
    text-decoration: none;
    color: gray;
    letter-spacing: 1px;
    font-weight: bold;
    transition: .3s;
}
.chat-menu2 li a:hover{
    margin-left: 5px;
}
.chat-menu2 li:hover{
    background-color:#d1d7dba0;
}


/* -------------------------profil show----------------------------- */

.profile{
    position: absolute;
    top: 15.5%;
    width: 38%;
    height: 81.5vh;
    background-color: white;
    transition: .9s;
    overflow: scroll;
    display: none;
}
.profile-head{
    background-color: rgb(43, 158, 43);
    height: 90px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

.profile i{
   margin:0px 20px;
   font-size: 25px;
   color: white;
   transition: .3s;
}
.profile i:hover{
    color: blue;
}
.profile h2{
    color: white;
    letter-spacing: 1px;
}
.picture-area{
    background-color: #d1d7db;
    display: flex;
    height:150px;
    justify-content: center;
}
.picture-area img{
 width: 150px;
 height: 150px;
 position: relative;
 top: 30%;
}
.picture-area i{
    position: relative;
    left: 10%;
    bottom: 10%;
    align-self: flex-end;
    color: green;
    cursor: pointer;
}
.profile-edit-area{
    margin-top: 50px;
}
.profile-area-list{
    display: flex;
    justify-content: space-around;
    transition: .4s;
    margin: 5px 0px;
    padding: 10px 0px;
}
.profile-area-list:hover{
    background-color: rgba(170, 169, 169, 0.423);
}

.profile-user-info{
    width: 40%;
    cursor: pointer;
    /* background-color: red; */
}

.profile-edit-area i{
    color:black;
    cursor: pointer;
}
#profile-about{
    position: relative;
    right: 10%;
    width: fit-content;
}
#profile-info-about i{
   font-size: 30px;
   margin-top: 10px;
}


/* ---------settings------------------------------------------------ */


.settings{
    position: absolute;
    top: 15.5%;
    width: 38%;
    height: 82vh;
    background-color: white;
    transition: .9s;
    display: none;
    overflow: scroll;
}
.settings-head{
    background-color: rgb(43, 158, 43);
    height: 90px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.setting-info-area{
    display: flex;
    align-items: center;
    padding: 15px 0px;
}
.setting-info-area img{
    width: 100px;
    height: 100px;
    margin: 0px 20px;
}
.st-head{
    color: white;
    font-size: 30px;
}

.settings i{
   margin:0px 20px;
   font-size: 25px;
   color: white;
   transition: .3s;
}
.settings i:hover{
    color: blue;
}
.settings-edit-area{
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin-bottom: 1px;
    transition: .3s;
}
.settings-edit-area:hover{
    background-color: rgba(170, 169, 169, 0.423);
}
.settings-edit-area i{
    color: gray;
    margin-left: 20px;
    font-size: 20px;
}
.heading{
    width: 300px;
    position: relative;
    right:20%;
}
.settings-heading{
    color: rgb(63, 61, 61);
    letter-spacing: 1px;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
}
.settings-heading:hover{
    padding-left: 10px;
}

























@media (max-width:450px) {


    .footer-icons i{
    font-size: 20px;
    margin-top: 10px;
}
a{
    font-size: 20px;
}
.footer-icons input{
    padding: 5px 10px;
    font-size: 10px;
    width: 40%;
}

.chat-box-nav-icons i{
    margin: 0px 10px;
    font-size: 15px;
}
#name{
    font-size: 15px;
}
.chat-area table tr{
    font-size: 10px;
}

.chat-box-nav img{
    width: 30px;
    height:30px;
    margin: 0px 10px;
}
.contacts{
    margin-top: 135px;
}
.contact-box-nav img{
    width: 30px;
    height:30px;
}
.contact-box-icon i{
    margin: 0px 10px;
    font-size: 15px;
}

.search-icon i{
    margin-left: 5px;
    color: black;
}
.search-area input{
    border: none;
    outline: none;
    line-height: 10px;
    margin-left: 5px;
    background-color:transparent;
    color: black;
    font-weight: bold;
    font-size: 10px;

}

.contact-list img{
    width: 40px;
    height:40px;
}
.title{
    width: 100px;
}
.title h3,p{
    font-size: 10px;
}

}

@media (min-width:1200px) {
    .title{
        margin-left: -40px;
    }
    .contact-box{
        width: 30%;
    }
    .chat-box{
        width: 70%;
    }
    .contact-box-nav{
        width: 74%;
    }
    .search-area{
        width: 74%;
    }

    .chat-box-fixed{
        width: 69%;
    }
    
    .chat-box-nav img{
        margin: 0px 20px 0px 40px;
    }
    
    .chat-box-nav-icons i{
        margin: 0px 40px;
    }

    footer{
        width: 69%;
    }

    .pop_for_threedot{
        background-color: white;
        width: fit-content;
        position: absolute;
        top: 7%;
        left: 14%;
        padding: 10px;
        border-radius: 10px;
    }

    .profile{
        width: 29%;
    }

    .profile-user-info{
        margin-left: -70px;
    }
    .settings{
        width: 29%;
    }
    
}